<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="google-site-verification: google8db56489c9591026.html">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
          
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/jPicture.min.css">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" href="css/bootstrap-grid.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
                    
    <title>LapTopShop</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        nav {
            background: #151515;
            padding: 5px 50px;
        }

        nav ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        nav ul li {
            padding: 15px 0;
            cursor: pointer;
        }

        nav ul li.items {
            position: relative;
            width: auto;
            margin: 0 15px;
            text-align: center;
            order: 3;
        }

        nav ul li a {
            color: springgreen;
            font-size: 16px;
            text-decoration: none;
        }

        nav ul li.items:after {
            position: absolute;
            left: 0;
            bottom: 5px;
            content: '';
            height: 2px;
            width: 100%;
            background: cyan;
            opacity: 0;
            transition: all 0.5s;
        }

        nav ul li.items:hover:after {
            opacity: 1;
            bottom: 15px;
        }

        nav ul li:hover a {
            color: cyan;
        }

        nav ul li.logo {
            flex: 1;
            color: red;
            font-size: 10px;
            font-weight: 600;
            user-select: none;
        }

        nav ul li i {
            font-size: 30px;
        }

        nav ul li.btn {
            display: none;
        }

        nav ul li.btn.hide i:before {
            counters: '\f00d';
        }

        @media all and (max-width: 800px) {
            nav {
                padding: 5px 30px;
            }

            nav ul li.items {
                width: 100%;
                display: none;
            }

            nav ul li.items:hover {
                box-shadow: inset 0 0 5 px cyan, inset 0 0 15px cyan;
                border-radius: 30px;
            }

            nav ul li.items:hover:after {
                opacity: 0;
            }

            nav ul li.items.show {
                display: block;
            }

            nav ul li.btn {
                display: block;
            }
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li class="logo"><a href="index.html">LapTopShop</a></li>
            <li class="items"><a href="index.html">Trang Chủ</a></li>
            <li class="items"><a href="gt.html">Giới Thiệu</a></li>
            <li class="items"><a href="#">Tin Tức</a></li>
            <li class="items"><a href="https://www.messenger.com/t/101006151639255">Liên Hệ</a></li>
            <li class="items"><a href="#">Giỏ Hàng</a></li>
            <li class="items"><a href="login.html">Đăng Nhập</a></li>
            <li class="btn">
                <a href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </nav>
    <script>
        $(document).ready(function () {
            $('.btn').click(function () {
                $('.items').toggleClass("show");
                $('ul li').toggleClass("hide");
            })
        })
    </script>
    <style>
            #imgBox{width:100%;height:450px;}
        </style>
<div id="imgBox">
            <div>
                <div><a href="#1"><img src="images/1.jpg"></a></div>
                <div><a href="#2"><img src="images/2.jpg"></a></div>
                <div><a href="#3"><img src="images/3.jpg"></a></div>
                <div><a href="#4"><img src="images/4.jpg"></a></div>
                <div><a href="#5"><img src="images/5.jpg"></a></div>   
            </div>
        </div>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/jPicture.min.js"></script>
        <script>
            jPicture("#imgBox", {
                type: "slide",
                autoplay: 5000
            });
        </script>
<!--Sản phẩm khuyến mãi nổi bật-->				
	<!--Sản phẩm khuyến mãi nổi bật-->				
        <div  class="box_left_home">
            <div class="categorysarea">
                    <a class="ah2"><h2>Sản phẩm khuyến mãi nổi bật</h2></a>
                                    <div class="productsarea">
                                            <ul></li><li class=""><span class="badge_nphantram"><strong>21%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\1.png' %}" alt="Microsoft Surface Laptop i7 7660U 16GB M2.SATA 1TB 2K Cảm ứng" /></div><h3>Microsoft Surface Laptop i7 7660U 16GB M2.SATA 1TB 2K Cảm ứng</h3><h4>Chuyên văn phòng, bền bỉ, 14 inch</h4><p class="price"><s>39.990.000</s>31.790.000</p><div class="bginfodiv" data-link="{% url 'sp1' %}">
                        <a href="{% url 'sp1' %}" class="bginfo">
                                <span class="nameinfo">Microsoft Surface Laptop i7 7660U 16GB M2.SATA 1TB 2K Cảm ứng</span>
                                <span class="priceinfo"><s>39.990.000</s>31.790.000</span><p>CPU: Intel Core i7-7660U Kaby Lake 2.5GHz (4MB cache, Max Turbo Frequency 4.0GHz) 
    <br>RAM: 16GB DDR4 
    <br>Ổ Cứng: SSD 512GB
    <br>VGA: Intel® Iris® Plus Graphics 640
    <br>Màn Hình: 13.5 inch 3:2, 2256 x 1504 pixel 201 PPI, Yes, ID: MEI96A2, Name: Panasonic VVX14T092N00, IPS, glossy: yes
    <br>Cổng giao tiếp: Full-size USB 3.0/ microSD card reader//Headset jack/ Mini DisplayPort/ Cover port/ Surface Connect
    <br>Trọng lượng: 1,2 Kg</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>20%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\2.png' %}" alt="Acer Nitro AN515 i5 9300H 8GB M2.SATA 256GB FHD GTX 1650  " /></div><h3>Acer Nitro AN515 i5 9300H 8GB M2.SATA 256GB FHD GTX 1650  </h3><h4>Chuyên game, đồ họa, 15.6 inch</h4><p class="price"><s>25.990.000</s>20.990.000</p><div class="bginfodiv" data-link="{% url 'sp2' %}">
                        <a href="{% url 'sp2' %}" class="bginfo">
                                <span class="nameinfo">Acer Nitro AN515 i5 9300H 8GB M2.SATA 256GB FHD GTX 1650  </span>
                                <span class="priceinfo"><s>25.990.000</s>20.990.000</span><p>CPU: Intel® Core™ i5 9300H Processor 2.4GHz, Turbo Boost 4.10Ghz (8MB SmartCache)
    <br>RAM: 8GB DDR4 (Nâng cấp lên đến 32GB)
    <br>Ổ Cứng: M2.SATA 256GB (Nâng cấp tuỳ thích)
    <br>VGA: NVIDIA® GeForce GTX™ 1650 4GB
    <br>Màn Hình: 15.6 inch Full HD (1920 x 1080) 60Hz, Tấm nền IPS, Acer ComfyView
    <br>Cổng giao tiếp: 2 x USB 3.1, HDMI, LAN (RJ45), USB 2.0, USB Type-C
    <br>PIN/Battery: Li - Polymer 4 cell
    <br>Trọng lượng: 2.3 Kg</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>13%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\3.png' %}" alt="Lenovo Legion Y530 i7 8750H 8GB M2.SATA 128GB + HDD 1TB FHD GTX 1050Ti  VGA" /></div><h3>Lenovo Legion Y530 i7 8750H 8GB M2.SATA 128GB + HDD 1TB FHD GTX 1050Ti  VGA</h3><h4>Chuyên game, đồ họa, 15.6 inch</h4><p class="price"><s>24.990.000</s>21.790.000</p><div class="bginfodiv" data-link="{% url 'sp1' %}">
                        <a href="{% url 'sp1' %}" class="bginfo">
                                <span class="nameinfo">Lenovo Legion Y530 i7 8750H 8GB M2.SATA 128GB + HDD 1TB FHD GTX 1050Ti  VGA</span>
                                <span class="priceinfo"><s>24.990.000</s>21.790.000</span><p>CPU: Intel Core i7 Coffee Lake i7 8750H 2.2GHz (9MB L2 cache, Max Turbo Frequency 4.1GHz) 
    <br>RAM: 8GB DDR4 (Nâng cấp lên đến 32Gb) 
    <br>Ổ Cứng: M2.SATA 128GB + HDD 1TB (Nâng cấp tuỳ chọn) 
    <br>VGA: nVIDIA Geforce GTX 1050Ti 4GB
    <br>Màn Hình: 15.6 inch FHD (1920 x 1200) IPS, Anti-Glare
    <br>Cổng giao tiếp: 3 x USB 3.1, HDMI, Mini DisplayPort, LAN (RJ45), USB Type-C
    <br>Trọng lượng: 2.3 kg
    <br>Pin: Li - Polymer 3 cell</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>16%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\4.png' %}" alt="Asus Zenbook 13 UX333FA i7 8565U 8GB M2.SATA 512GB FHD" /></div><h3>Asus Zenbook 13 UX333FA i7 8565U 8GB M2.SATA 512GB FHD</h3><h4>Chuyên đồ họa, kỹ thuật, 13.3 inch</h4><p class="price"><s>24.590.000</s>20.790.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Asus-Zenbook-13-UX333FA-i7-8565U-8GB-M2SATA-512GB-FHD.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Asus Zenbook 13 UX333FA i7 8565U 8GB M2.SATA 512GB FHD</span>
                                <span class="priceinfo"><s>24.590.000</s>20.790.000</span><p>CPU: Intel® Core™ I7 8565U Processor 1.80GHz, Turbo Boost 4.60GHz (8MB SmartCache)
    <br>RAM: 8GB DDR4 
    <br>Ổ Cứng: M2.SATA Pcie 512GB (Nâng cấp tuỳ thích)
    <br>VGA: Intel UHD Graphics 620
    <br>Màn Hình: 13.3 inch Full HD (1920 x 1080) Tấm nền IPS, 60Hz, LED Backlit
    <br>Cổng giao tiếp: USB 3.1, HDMI, USB 2.0, USB Type-C
    <br>Wi-Fi 802.11 a/b/g/n, Bluetooth v5.0
    <br>PIN/Battery: Li - Polymer 3 cell
    <br>Trọng lượng: 1.25 kg</p></a>
    
                </div></li><li class=""><span class="badge_nphantram"><strong>33%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\5.png' %}" alt="Lenovo Thinkpad P50 i7 6820HQ 8GB SSD 256GB 4K VGA" /></div><h3>Lenovo Thinkpad P50 i7 6820HQ 8GB SSD 256GB 4K VGA</h3><h4>Chuyên đồ họa, thiết kế, 15.6 inch</h4><p class="price"><s>34.990.000</s>23.590.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Lenovo-Thinkpad-P50-i7-6820HQ-8GB-SSD-256GB-4K-NVIDIA-Quadro-M1000M.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Lenovo Thinkpad P50 i7 6820HQ 8GB SSD 256GB 4K VGA</span>
                                <span class="priceinfo"><s>34.990.000</s>23.590.000</span><p>CPU: Intel® Core™ i7-6820HQ Processor 2.7GHz, Turbo Boost 3.6Ghz (8MB SmartCache)
    <br>RAM: 8GB DDR3L (Nâng cấp lên đến 32Gb) 
    <br>Ổ Cứng: SSD 256GB (Nâng cấp tuỳ thích) 
    <br>VGA: NVIDIA Quadro M1000M
    <br>Màn Hình: 15.6 inch 4K 3840 x 2160 LED Backlit
    <br>Cổng giao tiếp: 3 x USB 3.0, HDMI, 4-in-1 card reader RJ-45, Headphone/mic
    <br>PIN/Battery: 3 Cell
    <br>Trọng lượng: 2.27 Kg</p></a>
                </div></li><li><a data-current="93" class="p-more" href="#">
                                                <span>
                                                    <i class="icons p-more-icon"></i>
                                                    <label>Chỗ Admin THêm sản phẩm mới</label> 
                                                </span>
                                            </a></li><li class="clear"></li></ul>									<div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                    <!-- Quang cao Hot -->
                                    <div class="box_adv_product_hot">
                                                                            <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                                            <div class="categorysarea">
                                    <a class="ah2"><h2>Macbook</h2></a>
                                    <div class="productsarea">
                                <ul></li><li class=""><span class="badge_nphantram"><strong>18%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\6.png' %}" alt="Macbook Air 13.3 inch 2013 i7 RAM 8GB SSD 256GB " /></div><h3>Macbook Air 13.3 inch 2013 i7 RAM 8GB SSD 256GB </h3><h4>Chuyên văn phòng, bền bỉ, 13.3 inch</h4><p class="price"><s>17.990.000</s>14.790.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Macbook-Air-133-inch-2013-i7-RAM-8GB-SSD-256GB-.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Macbook Air 13.3 inch 2013 i7 RAM 8GB SSD 256GB </span>
                                <span class="priceinfo"><s>17.990.000</s>14.790.000</span><p>- CPU: 1.7GHz Intel Core i7 Dual-Core (Haswell)
    <br>- RAM: 8GB 1600MHz LPDDR3
    <br>- Ổ cứng SSD: 256GB
    <br>- Graphics: Integrated Intel HD Graphics 5000
    <br>- Màn hình: 13.3" LED-Backlit Glossy
    <br>- Độ phân gải: 1440 x 900
    <br>- Cổng mạng: 802.11ac Wi-Fi, Bluetooth 4.0
    <br>- Khe cắm: Dual USB 3.0 Ports, One Thunderbolt Port
    <br>- Thiết bị nghe nhìn: 720p FaceTime HD Camera, SDXC Card Slot
    <br>- Hệ điều hành: Mac OS X 10.9 or OS X 10.8</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>19%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\7.png' %}" alt="Macbook Air 2019 MVFK2 13.3 inch i5 8GB SSD 128GB 2K Gray" /></div><h3>Macbook Air 2019 MVFK2 13.3 inch i5 8GB SSD 128GB 2K Gray</h3><h4>Thiết kế cao cấp, 13.3 inch</h4><p class="price"><s>30.290.000</s>24.790.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Macbook-Air-2019-MVFK2-133-inch-i5-RAM-8GB-SSD-128GB-Gray.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Macbook Air 2019 MVFK2 13.3 inch i5 8GB SSD 128GB 2K Gray</span>
                                <span class="priceinfo"><s>30.290.000</s>24.790.000</span><p>Chip: Intel Core i5 8th 1.6GHz dual-core (Turbo Boost up to 3.6GHz)
    <br>RAM: 8GB 2133MHz LPDDR3
    <br>Ổ Cứng: 128GB SSD
    <br>Chipset đồ họa: Intel UHD Graphics 617
    <br>Màn hình: 13.3 inch (2560 x 1600), LED-backlit display with IPS technology, True Tone technology
    <br>Vân tay: Touch ID
    <br>​Cổng kết nối: 2 x Thunderbolt 3, 3.5 mm headphone jack</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>32%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\8.png' %}" alt="Macbook Air 13.3 inch 2017 I5 8GB SSD 128GB " /></div><h3>Macbook Air 13.3 inch 2017 I5 8GB SSD 128GB </h3><h4>Thiết kế cao cấp 13.3 inch</h4><p class="price"><s>27.490.000</s>18.790.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Macbook-Air-133-inch-2017-I5-RAM-8GB-128Gb-SSD-.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Macbook Air 13.3 inch 2017 I5 8GB SSD 128GB </span>
                                <span class="priceinfo"><s>27.490.000</s>18.790.000</span><p>Chip: Intel Core i5 Dual-core 1.8 GHz
    <br>RAM: 8GB 1600 MHz LPDDR3
    <br>Ổ cứng: 128GB PCIe-Based Flash
    <br>Chipset đồ họa: Intel HD Graphics 6000
    <br>Màn hình: 13.3 inch (900 x 1440 pixels) LED-backlit IPS LCD
    <br>Hệ điều hành: macOS Sierra
    <br>​Pin: Li-Po 54 Wh</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>49%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\9.png' %}" alt="Macbook Air Retina 12 inch 2015 Core M 8GB SSD 256GB 2K Gold" /></div><h3>Macbook Air Retina 12 inch 2015 Core M 8GB SSD 256GB 2K Gold</h3><h4>Siêu mỏng nhẹ, 12 inch</h4><p class="price"><s>34.590.000</s>17.790.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Macbook-Air-Retina-12-inch-2015-Core-M-RAM-8GB-SSD-256GB-2K-Gold.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Macbook Air Retina 12 inch 2015 Core M 8GB SSD 256GB 2K Gold</span>
                                <span class="priceinfo"><s>34.590.000</s>17.790.000</span><p>- CPU: 1.2 GHz dual-core Intel Core M-5Y31 (Turbo Boost 2.4 GHz)
    <br>- Graphics: Intel HD Graphics 5300
    <br>- RAM: 8 GB 1600MHz DDR3
    <br>- Ổ cứng SSD: 256GB GB
    <br>- Màn hình: 12 inch RETINA
    <br>- Độ Phân Giải : 2304 x 1440
    <br>- Cổng kết nối USB-C ( USB type )
    <br>- Thiết bị nghe nhìn : FaceTime HD Camera, Dual Mics
    <br>- Hệ điều hành : Mac OS X Yosimite</p></a>
                </div></li><li class=""><span class="badge_nphantram"><strong>19%</strong>off</span><div class="images"><img class="lazy" src="{% static '\img\spnew\10.png' %}" alt="Macbook Pro 13.3 inch 2019 MUHN2 i5 8GB SSD 128GB 2K Touchbar Space Gray" /></div><h3>Macbook Pro 13.3 inch 2019 MUHN2 i5 8GB SSD 128GB 2K Touchbar Space Gray</h3><h4>Chuyên đồ họa, thiết kế, 13.3 inch</h4><p class="price"><s>37.990.000</s>30.990.000</p><div class="bginfodiv" data-link="https://laptopxachtayshop.com/san-pham/Macbook-Pro-133-inch-2019-MUHN2-i5-RAM-8GB-SSD-128GB-2K-Touchbar-Space-Gray.html">
                        <a href="#" class="bginfo">
                                <span class="nameinfo">Macbook Pro 13.3 inch 2019 MUHN2 i5 8GB SSD 128GB 2K Touchbar Space Gray</span>
                                <span class="priceinfo"><s>37.990.000</s>30.990.000</span><p>CPU: 1.4GHz Quad-core i5-8257U (cache 6MB, Upto 3.9GHz) 
    <br>RAM: 8GB 2133MHz LPDDR3 memory 
    <br>Storage: 128GB on-board SSD 
    <br>Màn hình: 13.3 inch Retina with True Tone (2650×1600) 
    <br>VGA: Intel Iris Plus Graphics 645 
    <br>Interface: Two Thunderbolt 3 (USB-C) ports Touch Bar & Touch ID 
    <br>​Trọng lượng: 1.37Kg</p></a>
    </div></li><li><a data-current="93" class="p-more" href="#">
        <span>
            <i class="icons p-more-icon"></i>
            <label>Chỗ Admin THêm sản phẩm mới</label> 
        </span>
    </a></li><li class="clear"></li></ul>									<div class="clear"></div>
    </div>
    <div class="clear"></div>





                            <!-- ------------------------------------------- -->
                            
                            <div class="box_adv_product_hot">
                                                                    <div class="clear"></div>
                            </>
                        </div>
                        <div class="clear"></div>
                        
                        </div><!-- box_left_home -->
                    
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                        <footer id="footer" class="footer_ctm" role="contentinfo">
            <div class="phone-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <strong class="text-uppercase">Tư vấn - Mua Hàng</strong>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="tel:0848741399"><i class="fa fa-phone"></i> 0848741399</a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="tel:0794943324"><i class="fa fa-phone"></i> 0794943324</a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <strong class="text-uppercase">Hỗ trợ kỹ thuật</strong>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="070873709"><i class="fa fa-phone"></i> 070873709</a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="tel:09845458974"><i class="fa fa-phone"></i> 09845458974</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-widgets" class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-xs-full col-sm-6 col-md-4 col-xl-3 footer-widget ">
                            <aside id="custom_html-2" class="widget_text widget widget_custom_html ">
                                <h5 class="widget-title">HỆ THỐNG LAPTOP SHOP</h5>
                                <div class="textwidget custom-html-widget">
                                    <p>
                                        <ul>
                                            <li><strong style="text-transform: uppercase;">Showroom bán hàng</strong></li>
                                            <li><strong>Địa chỉ:</strong> 73 Nguyễn Huệ, Phường 2, TP, Vĩnh Long</li>
                                            <li><strong>Hotline:</strong> 0794943324</li>
                                        </ul>
                                    </p>
                                    <p>
                                        <ul>
                                            <li><strong>TRUNG TÂM BẢO HÀNH VÀ KỸ THUẬT IT LAPTOP SHOP</strong></li>
                                            <li><strong>Địa chỉ:</strong> 73 Nguyễn Huệ, Phường 2, TP, Vĩnh Long </li>
                                            <li><strong>Hotline hỗ trợ kỹ thuật:</strong> 070873709 – 0848741399</li>
                                        </ul>
                                    </p>
                                    <p>
                                        <h4 style="text-transform: uppercase;">Thời gian làm việc</h4>
                                        <strong style="width: 76px;display: inline-block;">Showroom:</strong> Tất cả các ngày ( 8:30 – 21:00 )<br>
                                        <strong>TT Bảo hành:</strong> Thứ 2 – thứ 7 ( 8:30 – 17:00 )
                                    </p>
                                    <p>
                                        <h4 style="text-transform: uppercase;margin-top: 5px">Khiếu nại – góp ý:</h4>
                                        <strong>0848741399</strong> Zalo Mr.Khang ( 8:30 – 17:00 )
                                    </p>
                                </div>
                            </aside>
                            <aside id="custom_html-3" class="widget_text widget widget_custom_html ">
                                <h5 class="widget-title">Kết nối với chúng tôi</h5>
                                <div class="textwidget custom-html-widget">
                                    <ul class="social_list">
                                        <li class="twitter">
                                            
                                            <a target="_blank" title="Xem link website" href="https://www.google.com/search?rlz=1C1GTPM_enVN905VN905&sxsrf=ALeKk01uZmGnaXHCdeV0BBa3Ty7FOgQPtA%3A1592263356907&ei=vALoXqD1NuLTz7sPpNiS8Ac&q=huykhang.me&oq=huykhang.me&gs_lcp=CgZwc3ktYWIQAzIECCMQJzoECAAQQzoFCAAQsQM6BQgAEIMBOgIIADoECAAQCjoECAAQHjoGCAAQBRAeOgYIABANEB46CAgAEAgQDRAeUK4RWNAkYP8saABwAHgAgAFKiAHTBZIBAjExmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwigw5ue-4TqAhXi6XMBHSSsBH4Q4dUDCAw&uact=5">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a target="_blank" title="Google Plus" href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UCGKeb7-QM1IsH4WZLewdOZQ?view_as=subscriber">
                                                <i class="fab fa-youtube"></i>
                                        </a>
                                        </li>
                                        <li class="facebook">
                                            <a target="_blank" title="Facebook" href="https://www.facebook.com/Huykhangme-101006151639255/?modal=admin_todo_tour">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-xs-full col-sm-6 col-md-4 col-xl-5 footer-widget" >
                            <div class="row">
                                <div class="col-xs-full col-xs-6">
                                    <aside id="nav_menu-2" class="widget widget_nav_menu ">
                                        <h5 class="widget-title">Hỗ Trợ – Dịch Vụ</h5>
                                        <div class="menu-ho-tro-dich-vu-container">
                                            <ul id="menu-ho-tro-dich-vu" class="menu">
                                               <li><a href="https://sites.google.com/view/share-500-anh-em/trang-ch%E1%BB%A7"><i class="fa fa-angle-double-right"></i> Cài Phần Miền Bản Quyền Miễn Phí</a></li><li><a href="https://imgur.com/tGHDXyU.png"><i class="fa fa-angle-double-right"></i> Ổ cứng Laptop.</a></li>
                                               <li><a href="#"><i class="fa fa-angle-double-right"></i> Dịch vụ sửa chữa.</a></li>
                                               <li><a href="#"><i class="fa fa-angle-double-right"></i> Hướng dẫn mua hàng.</a></li>					                            </ul>
                                        </div>
                                    </aside>
                                </div>
                                <div class="col-xs-full col-xs-6">
                                    <aside id="nav_menu-3" class="widget widget_nav_menu ">
                                        <h5 class="widget-title">Tin Tức</h5>
                                        <div class="menu-ho-tro-dich-vu-container">
                                            <ul id="menu-ho-tro-dich-vu" class="menu">
                                               <li><a href="#"><i class="fa fa-angle-double-right"></i> Chương trình vệ sinh trong, bảo dưỡng miễn phí máy tính.</a></li>
                                                    <li><a href="https://bom.to/Windows"><i class="fa fa-angle-double-right">

                                                    </i> Download các phần mềm của Adobe</a></li>					                            </ul>
                                        </div>
                                    </aside>
                                </div>
                                <div class="col-xs-12">
                                    <aside id="text-2" class="widget widget_text ">
                                        <h5 class="widget-title">Tài khoản nhận thanh toán</h5>			
                                        <div class="textwidget"><p><strong>Tên giao dịch: Võ Huy Khang</strong><br>
                                        <strong>Số Tài Khoản: 101869094651</strong><br>
                                        <strong>Ngân hàng TMCP Công Thương Việt Nam, VietinBank</strong><br>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-xs-12 col-xs-full col-sm-6 col-md-4 col-lg-4 footer-widget " >
                            <aside id="media_image" class="widget widget_media_image ">
                                <h5 class="widget-title">Hỗ trợ thanh toán</h5><img src="#" class="img-responsive" alt="" style="max-width: 100%; height: auto;" width="255" height="22"></aside>
                            <aside id="media_image-3" class="widget widget_media_image ">
                                <h5 class="widget-title">DỊCH VỤ GIAO HÀNG</h5><img src="#" class="img-responsive" alt="" style="max-width: 100%; height: auto;" width="240" height="124">
                            </aside>
                            <aside id="media_image-3" class="widget widget_media_image ">
                                <img src="/images/dathongbao.png" class="img-responsive" alt="" style="max-width:150px; height: auto;" width="150">
                            </aside>
                        </div>
                    </div>
                </div>
                <!-- #footer-widgets -->
            </div>
            <!-- .container -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="copyright_text text-center ">
                                © Copyright Laptop Shop 2020 | ® Bản quyền website này thuộc về Laptop Shop
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <div class="floatcall"> <a href="tel:0848741399"><i class="fa fa-phone"></i><span>Gọi Ngay</span></a></div>
    <div class="floatmess"> <a href="https://www.messenger.com/t/101006151639255" target="_blank"><i class="fa fa-comments" aria-hidden="true"></i><span>Hỏi Đáp</span></a></div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'khang';">
</div>
<style>
        @media screen and (max-width: 800px) {
            .left,
            .main,
            .right {
                width: 100%;
            }
        }
    </style>
    <!-- CHAT BOT -->
<!-- Customerly Integration Code :https://app.customerly.io/apps/1edc76fa/conversations/0/20639 -->
    <script>
    window.customerlySettings = {
        app_id: "1edc76fa"
    };
    !function(){function e(){var e=t.createElement("script");
    e.type="text/javascript",e.async=!0,
    e.src="https://widget.customerly.io/widget/1edc76fa";
    var r=t.getElementsByTagName("script")[0];r.parentNode.insertBefore(e,r)}
    var r=window,t=document,n=function(){n.c(arguments)};
    r.customerly_queue=[],n.c=function(e){r.customerly_queue.push(e)},
    r.customerly=n,r.attachEvent?r.attachEvent("onload",e):r.addEventListener("load",e,!1)}();
</script>

<!-- CHAT BOT -->
<!-- Global site tag (gtag.js) - Google Analytics : https://analytics.google.com/analytics/web/-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169339021-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169339021-1');
</script>
<!-- Global site tag (gtag.js) lượt truy cập- Google Analytics -->
</body>
</html>
